# Supported language locales.
locales = bs__#Cyrl, bs_BA_#Cyrl, ckb, ckb_IQ, ckb_IR, fa, fa_AF, fa_IR, iu, iu__#Latn, iu_CA, iu_CA_#Latn, ky, ky_KG, lb, lb_LU, mn, mn__#Cyrl, mn_MN, mn_MN_#Cyrl, prs, prs_AF, qu, qu_BO, qu_EC, qu_PE, quc, quc_GT, tk, tk_TM, ug, ug_CN

TimeZoneName.locales = bs__#Cyrl, bs_BA_#Cyrl, ckb, ckb_IQ, ckb_IR, fa, fa_AF, fa_IR, ky, ky_KG, lb, lb_LU, mn, mn__#Cyrl, mn_MN, mn_MN_#Cyrl, prs, prs_AF, qu, qu_BO, qu_EC, qu_PE, tk, tk_TM, ug, ug_CN
